* {
    /* border: 1px solid black; */
    /* opacity: 0.8; */
    margin: 0px;
    padding: 0px;
}

/* test */

html {
    min-width: 670px;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-color: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 670px;
    background: url(back_inage.jpg) no-repeat center fixed;
    background-size: cover;
    background-color: rgb(46, 51, 51);
}

.main-text-part {
    display: flex;
    padding-left: 12px;
    box-sizing: border-box;
    align-items: flex-start;
    width: 95%;
    height: 400px;
    min-width: 635px;
}

.main-text {
    font-size: 26px;
    padding-left: 0.37px;
    border: none;
    font-family: 'Anta', sans-serif;
    transition: linear;
    color: aqua;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    position: absolute;
    margin-top: 406px;
    overflow: hidden;
}


@keyframes animationText {
    0% {
        margin-top: -50px;
    }

    80% {
        opacity: 1;
    }

    90% {
        margin-top: 380px;
        opacity: 0.5;
    }

    100% {
        margin-top: 406px;
        opacity: 0;
    }

}



.main-part-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-width: 670px;
    background-color: black;
    opacity: 0.7;
    border: 1px solid black;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 30px 0px;

}



.section-main-input {
    width: 95%;
    height: 45px;
    min-width: 630px;
    position: relative;
}


.main-input {
    display: inline-block;
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    font-size: 26px;
    text-indent: 12px;
    font-family: "Anta", sans-serif;
    min-width: 630px;
    background: linear-gradient(to bottom, transparent 20%, black);
    color: rgb(255, 255, 0);
    text-shadow: 2px 2px 2px black, 0 0 10px rgb(167, 255, 4), 0 0 5px rgb(255, 255, 255);
    border: 1px solid aqua;
    border-top: none;
    border-radius: 0px 0px 15px 15px;
    outline: none;
}



.back-input {
    position: absolute;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    min-width: 630px;
    font-size: 26px;
    padding-left: 12px;
    font-family: "Anta", sans-serif;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
}

.back-letters {
    border-radius: 10px;
}


.part-result {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 670px;
}

.play-bits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    overflow: hidden;
    min-width: 670px;
    min-height: 160px;
    z-index: 1;
    position: relative;
    bottom: -40%;
    background-color: rgba(31, 22, 25, 0.4);
    box-shadow: 0px 0px 25px 25px black;
    border-radius: 35px 35px 0px 0px;

}


.bar {
    margin: 0px 0.5%;
    flex-shrink: 0;
    width: 1.5%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 90%, red 10%, rgb(213, 19, 252) 20%, rgb(255, 75, 180) 30%, rgb(62, 194, 255) 80%);
}

.bottom-bar {
    height: 30%;
    width: 75%;
    background-image: radial-gradient(transparent 40%, white 60%);
    border-radius: 50%;
    overflow: hidden;
    bottom: -25%;
    position: relative;
    z-index: 2;
    min-width: 690px;
    min-height: 100px;
}


.start-button {
    display: inline-block;
    position: absolute;
    margin: 200px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #004074;
    border: none;
    border-radius: 30px;
    transition: 300ms;
    width: 200px;
}

.start-button:hover {
    background-color: #00aeff
}

.start-button:active {
    transform: scale(0.8);
}


/* LEFT SIDEBAR */


section.sidebar-left {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 0px;
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    border-radius: 0px 35px 35px 0px;
    color: #fff;
    font-family: "Anta", sans-serif;
    transition: 500ms;
    box-sizing: border-box;
    min-width: 300px;
    min-height: 890px;
}

.left-slide-button {
    display: flex;
    box-sizing: border-box;
    border-radius: 0px 35px 35px 0px;
    height: 50px;
    width: 100%;
    position: absolute;
    border: none;
    transition: 500ms;
    margin-left: 65px;
    background-color: rgba(0, 0, 0, 0.3);
    /* box-shadow: 0px 7px 1px rgb(103, 13, 121); */
    box-shadow: 0px 0px 3px black;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.left-slide-button:hover {
    box-shadow: 0px 0px 3px black, 0px 0px 25px 2px white;
}

.left-slide-button:active {
    background-image: linear-gradient(to right, transparent 1px, white, white 100%);
}

.left-slide-button span {
    font-size: 27px;
    font-family: "Anta", sans-serif;
    color: aliceblue;
    text-shadow: 0px 2px 2px black, 0px 4px 10px white;

}

.left-slide-img {
    height: 50px;
    position: sticky;
    z-index: 2;
    border-radius: 0px 35px 35px 0px;
    background-image: linear-gradient(to right, transparent 1px, white, white 100%);
    padding-left: 30px;
    padding-right: 10px;
}

.hide-left {
    transform: translateX(-300px);
}

.hide-left-button {
    margin-left: 0px;
}


ul.left-ul {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    font-size: 30px;
    padding: 60px 10px;
    box-sizing: border-box;
    /* background-image: linear-gradient(to left, transparent, rgb(106, 0, 177) 30%, rgb(204, 0, 255)); */
    background-color: rgba(0, 0, 0, 0.1);
    min-width: 300px;
    min-height: 450px;
}

.left-li {
    list-style: none;
    margin: 10px 30px;
    border-radius: 25px;
    overflow: hidden;
}

#left-a:link,
#left-a:visited {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid;
    width: 100%;
    min-width: 220px;
    min-height: 38px;
    transition: 250ms;
}

#left-a:hover,
#left-a:active {
    color: rgb(3, 1, 5);
    background-color: azure;
}

.left-add-part {
    position: absolute;
    width: 90%;
    height: 50%;
    border: 1px solid;
    align-self: center;
    bottom: 20px;
    text-align: center;
    border-radius: 25px;
    min-width: 275px;
    min-height: 450px;
}


/*  RIGHT SIDEBAR */

.sidebur-right {
    position: absolute;
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 0px;
    height: 100%;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    border-radius: 35px 0px 0px 35px;
    color: #fff;
    font-family: "Anta", sans-serif;
    transition: 500ms;
    box-sizing: border-box;
    min-width: 300px;
    min-height: 890px;
}

.right-slide-button {
    display: flex;
    box-sizing: border-box;
    border-radius: 35px 0px 0px 35px;
    height: 50px;
    width: 100%;
    position: absolute;
    border: none;
    transition: 500ms;
    margin-left: -65px;
    background-color: rgba(0, 0, 0, 0.3);
    /* box-shadow: 0px 7px 1px rgb(103, 13, 121); */
    box-shadow: 0px 0px 3px black;
    align-items: center;
    justify-content: flex-start;
}

.hide-right {
    transform: translateX(400px);
}

.hide-right-button {
    margin-left: 0px;
}

.right-slide-button:hover {
    box-shadow: 0px 0px 3px black, 0px 0px 25px 2px white;
}

.right-slide-button:active {
    background-image: linear-gradient(to left, transparent 1px, white, white 100%);
}

.right-slide-button span {
    font-size: 27px;
    font-family: "Anta", sans-serif;
    color: aliceblue;
    text-shadow: 0px 2px 2px black, 0px 4px 10px white;
}

.right-slide-img {
    height: 50px;
    position: sticky;
    background-image: linear-gradient(to left, transparent 1px, white, white 100%);
    padding: 0px 30px 0px 10px;
    border-radius: 35px 0px 0px 35px;
}

.add-new-song {
    height: 40px;
    width: 80%;
    align-self: center;
    margin-bottom: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    flex-shrink: 0;
}



.arrow-up-icon {
    position: relative;
    height: 40px;
    align-self: center;
    padding: 0px 90px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: -50px;
    margin-bottom: 20px;
}

.right-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    margin-top: 50px;
    border: 1px solid white;
    padding: 20px 10px;
    box-sizing: border-box;
    overflow-y:scroll;
    border-radius: 25px;
}

.right-li {
    list-style: none;
    width: 100%;
    height: 50px;
    border: 1px solid white;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    flex-shrink: 0;
}

::-webkit-scrollbar {
    width: 3px;
    position: absolute;

}

.right-audio {
    height: 100%;
    position: relative;
    margin-left: -12px;
}


.right-add-part {
    text-align: center;
    position: absolute;
    align-self: center;
    width: 90%;
    height: 50%;
    border: 1px solid white;
    bottom: 20px;
    border-radius: 25px;
    min-width: 275px;
    min-height: 450px;
}

/* --------------------------------------- */

