* {
    /* border: 1px solid black; */
    /* opacity: 0.8; */
    margin: 0px;
    padding: 0px;
}

/* test */

html {
    min-width: 670px;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-color: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 670px;
    background: url(back_inage.jpg) no-repeat center fixed;
    background-size: cover;
    background-color: rgb(46, 51, 51);
}

.main-text-part {
    display: flex;
    padding-left: 12px;
    box-sizing: border-box;
    align-items: flex-start;
    width: 95%;
    height: 400px;
    min-width: 635px;
}

.main-text {
    font-size: 26px;
    padding-left: 0.37px;
    border: none;
    font-family: 'Anta', sans-serif;
    transition: linear;
    color: aqua;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    position: absolute;
    margin-top: 406px;
    overflow: hidden;
}


@keyframes animationText {
    0% {
        margin-top: -50px;
    }

    80% {
        opacity: 1;
    }

    90% {
        margin-top: 380px;
        opacity: 0.5;
    }

    100% {
        margin-top: 406px;
        opacity: 0;
    }

}



.main-part-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-width: 670px;
    background-color: black;
    opacity: 0.7;
    border: 1px solid black;
    border-radius: 0px 0px 15px 15px;

}



.section-main-input {
    width: 95%;
    height: 45px;
    min-width: 630px;
    position: relative;
}


.main-input {
    display: inline-block; 
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    font-size: 26px;
    text-indent: 12px;
    font-family: "Anta", sans-serif;
    min-width: 630px;
    background: linear-gradient(to bottom, transparent 20%, black);
    color: rgb(255, 255, 0);
    text-shadow: 2px 2px 2px black, 0 0 10px rgb(167, 255, 4), 0 0 5px rgb(255, 255, 255);
    border: 1px solid aqua;
    border-top: none;
    border-radius: 0px 0px 15px 15px;
    outline: none;
}



.back-input {
    position: absolute;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    min-width: 630px;
    font-size: 26px;
    padding-left: 12px;
    font-family: "Anta", sans-serif;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 25px 3px black, 0px 18px 0px 18px rgb(0, 0, 0);
}


.part-result {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 670px;
}

.play-bits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    overflow: hidden;
    min-width: 670px;
    min-height: 160px;
    z-index: 1;
    position: relative;
    bottom: -40%;
    background-color: rgba(31, 22, 25, 0.4);
    box-shadow: 0px 0px 25px 25px black;
    border-radius: 25% 25% 0px 0px;

}


.bar {
    margin: 0px 0.5%;
    flex-shrink: 0;
    width: 1.5%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 90%, red 10%, rgb(213, 19, 252) 20%, rgb(255, 75, 180) 30%, rgb(62, 194, 255) 80%);
}

.bottom-bar {
    height: 30%;
    width: 75%;
    background-image: radial-gradient(transparent 40%, white 60%);
    border-radius: 50%;
    overflow: hidden;
    bottom: -25%;
    position: relative;
    z-index: 2;
    min-width: 690px;
    min-height: 100px;
}

.back-letters {
    border-radius: 10px;
}

.start-button {
    display: inline-block;
    position: absolute;
    margin: 200px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d509fd;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #222222;
}

.start-button:hover {
    background-color: #f700ff
}

.start-button:active {
    color: black;
    background-color: #fffb00;
    box-shadow: 0 5px #222222;
    transform: translateY(4px);
}